<link rel="stylesheet" href="/styles/book.css">


<div class="book hoveit">

  <div class="bookTop"></div>

  <div class="bookSide">Book 3<br>The Latitude In<br>The Press<br><br><br><p>By: The Anonymous Benefactor</p></div>

  <div class="bookSide2"></div>


  <div class="backBook">Back of book</div>

  <div class="bookBottom"></div>

  <div class="page cover">
    Book 3<br>The Latitude In<br>The Press<br><br><br><p>By: The Anonymous Benefactor</p>
  </div>

  <div class="page pagecontent fifthPage bookBack">
    Page five
  </div>


  <div class="page pagecontent fourthPage">
    Page four
  </div>


  <div class="page pagecontent thirdPage">
    Page three
  </div>

  <div class="page pagecontent secondPage">
    Page two
  </div>

  <div class="page pagecontent firstPage">
    Page One
  </div>





</div>

<script src="/scripts/book.js"></script>
