<div class="introContentBox">

<div style="color: white;" class="firstTyped"></div>


<button class="skipIntro">Skip</button>
</div>

<div class="darkCorner">
  <div style="color: white;" class="secondTyped"></div>

  <div class="cornerButtons">
    <button>Sit and wait</button>

    <button>Do Nothing</button>

    <button id="lookDeepWithin">Look Deep Within</button>
  </div>
</div>

<div class="cloudTime">

  <div class="cloudVid">
    <video loop autoplay muted id="Clouds">
      <source src="Clouds.mp4" type="video/mp4">
    </video>
  </div>

</div>


<div class="elsewhere"></div>
<div class="dontMoveContent">
  <div class="thirdTyped"></div>
  <button class="hopOnIn">Hop In</button>
</div>


<div class="door">
  <div class="fourthTyped"></div>
  <center>
<img height="150px" width="80px" class="theDoor" src="http://pngimg.com/uploads/door/door_PNG17633.png">
</center>
</div>
