<style>

.captions {
  position: absolute;
  bottom: 0; left: 0; right: 0;
  margin-left: auto; margin-right: auto;
  margin-bottom: 1rem;
  width: 30rem;
  font-size: 2rem;
}

.hide {
  display: none;
}
</style>

<script>

var sec = 1000;

$('#cap1').delay(26000).show();

$('#cap1').delay(31000).hide();

$('#cap1').delay(31000).hide();

</script>


<div class="captions">

<p class="hide" id="cap1">You like cartoons, don't you?</p>

<p class="hide" id="cap2">Of course you do.Everyone likes Cartons.</p>


</div>
