<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Joe Rezendes</title>
  <!-- <link rel="apple-touch-icon" sizes="76x76" href="/createprofile/prof/assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="/createprofile/prof/assets/img/favicon.png"> -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <link rel="stylesheet" href="/styles/animate.css">


  <!--woah.css goes after main stylesheet-->
  <link rel="stylesheet" href="http://www.joerezendes.com/projects/Woah.css/woah.css">

</head>
<body>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


    {{{body}}}

</div>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script src="https://www.2b2t.reviews/dist/wow.min.js"></script>
      <script>
       new WOW().init();
      </script>

  <script src="/scripts.js"></script>

</body>
</html>
