<link href="https://fonts.googleapis.com/css?family=Barrio" rel="stylesheet">

<link rel="stylesheet" href="/styles/rootstyle.css">
<link rel="stylesheet" href="http://tholman.com/obnoxious/obnoxious.css">


<div class="hero">
  <h1 class="title whiteout">Nonchalance</h1>
  <h1 class="subTitle whiteout animated bounceIn">Storytellers from a less oridinary world</h1>
  <button class="what">What Is Nonchalance?</button>

</div>




<div class="hero2 whiteout">
  <h1 class="titleEx">EXPERIENCE<br>
                      NONCHALANCE
  </h1>
</div>


<div class="divinevid">

  <video muted id="myVideo">
    <source src="divine.mp4" type="video/mp4">
  </video>
  <div class="content">


    <button id="myBtn" onclick="mutethis()">UNMUTE</button>
    <img class="animated flash infinite arrow" height="40" src="http://www.sosseafest.org/wp-content/uploads/2018/02/Prime-Red-Arrow-Clipart-64-In-Plant-Clipart-with-Red-Arrow-Clipart.jpg" />


    {{> moviescript}}


    <script>

    var video = document.getElementById("myVideo");
    var btn = document.getElementById("myBtn");


    function mutethis() {
  if (video.muted) {
      video.muted = false;
      btn.innerHTML = "MUTE";
  } else {
      video.muted = true;
      btn.innerHTML = "UNMUTE";
  }
}
  </script>

  </div>

</div>


<div class="landingPage">

  <div class="section1">
    <h1>Jejune Institute</h1>
  </div>

  <div class="section2">
    <h1>Latitude Society</h1>
  </div>

  <div class="section3">

  </div>


</div>



<script src="/scripts/rootscripts.js"></script>
