<link href="https://fonts.googleapis.com/css?family=Barrio" rel="stylesheet">

<link rel="stylesheet" href="/styles/rootstyle.css">
<link rel="stylesheet" href="http://tholman.com/obnoxious/obnoxious.css">
<div class="hero">
<h1 class="title whiteout">Nonchalance</h1>
<h1 class="subTitle whiteout animated bounceIn">Storytelelrs from a less oridinary world</h1>
<button class="what">What Is Nonchalance?</button>

</div>




<div class="hero2 whiteout">
  <h1 class="titleEx">EXPERIENCE<br>
  NONCHALANCE</H1>
</div>



<h1 class="title2">Picture in your mind a cartoon character sleepwalking.</h1>
<div style="display: none;">
Observe as they stutter, step, and stumble blindly out of bed, down the stairs and out the front door on to a busy street. They narrowly dodge impending danger without effort or awareness. Cars race by, they are turned around in a revolving door, and after the languid adventure they are somehow returned to bed unharmed. It's a certain attribute the cartoon character possesses: to be able to stumble through life with nary a care, prodigiously protected and provided for by the invisible hand of good fortune. This ability is called Divine Nonchalance.
</div>






<script src="/scripts/rootscripts.js"></script>
