<link href="https://fonts.googleapis.com/css?family=Barrio" rel="stylesheet">

<link rel="stylesheet" href="/styles/rootstyle.css">
<link rel="stylesheet" href="http://tholman.com/obnoxious/obnoxious.css">


<div class="hero">
  <h1 class="title whiteout">Nonchalance</h1>
  <h1 class="subTitle whiteout animated bounceIn">Storytellers from a less oridinary world</h1>
  <button class="what">What Is Nonchalance?</button>
  <a href="#landingPage"><img class="heroarrow" src="http://cdn.onlinewebfonts.com/svg/img_87371.png"/></a>
</div>




<div class="hero2 whiteout">
  <h1 class="titleEx">EXPERIENCE<br>
                      NONCHALANCE
  </h1>
</div>


<div class="divinevid">

  <video muted id="myVideo">
    <source src="divine.mp4" type="video/mp4">
  </video>
  <div class="content">


    <button id="myBtn" onclick="mutethis()">UNMUTE</button>
    <img class="animated flash infinite arrow" height="40" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/Short_left_arrow_-_red.svg/2000px-Short_left_arrow_-_red.svg.png" />


    {{> moviescript}}


    <script>

    var video = document.getElementById("myVideo");
    var btn = document.getElementById("myBtn");


    function mutethis() {
  if (video.muted) {
      video.muted = false;
      btn.innerHTML = "MUTE";
  } else {
      video.muted = true;
      btn.innerHTML = "UNMUTE";
  }
}
  </script>

  </div>

</div>


<div id="landingPage" class="landingPage">

  <div class="section1">
    <h1 class="jejunetitle">Jejune Institute</h1>
    <h3>To those dark horses with the spirit to look up and see... a recondite family awaits.</h3>
    <button id="discoJejune" class="nonbtn">Discover Jejune!</button>

  </div>



  <div class="jejunevid">

    <video id="myVideo2">
      <source src="jejune.mp4" type="video/mp4">
    </video>

  </div>



  <div class="lighthouse">
    <h1 class="whoisoct woah comeInStyle">WHO IS OCTAVIO COLEMAN?</h1>
    <div class="nothing"></div>
  </div>

  <div class="rotaterdiv">




  <div class="jejunewhat">
    <h1 class="jejunewhattext woah simpleEntrance">NOT A CULT</h1>
  </div>
  </div>
  <div class="jejunejourneyCover">

  <div class="jejuneJourney">

  </div>



</div>
  <div class="midSection">
    <h1>What they say</h1>
    <div class="testimonials">
      <div class="testimonial">
        <h3>Testimonial 1</h3>
        <p>My favorite thing I have ever done.<br>
          -Jake</p>
      </div>
      <div class="testimonial">
        <h3>Testimonial 2</h3>
        <p>The entire experience was a wonderfully eye-opening creative gift.<br>
          – Carolee</p>
      </div>
      <div class="testimonial">
        <h3>Testimonial 3</h3>
        <p>This needs to be expanded.  More cities, more places.  It’s amazing.<br>
          – Jim</p>
      </div>
    </div>
  </div>

  <div class="section2">
    <h1>Latitude Society</h1>
    <h3>Can you keep a secret?</h3>
    <button class="nonbtn">Enter the Latitude!</button>
  </div>

  <div class="midSection2">
    <h1 align="center">What They Say</h1>
    {{> book}}
  </div>


</div>


<script src="/scripts/rootscripts.js"></script>
