html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.whiteout {
  color: white;
}

.hero {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url('https://butterflylanguagecom.files.wordpress.com/2017/03/tarot-fool.jpg?w=723');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 5;
}

.title {
  font-family: 'Barrio', cursive;
  font-size: 10rem;
  font-weight: bold;
}

.titleEx {
  display: none;
  font-family: 'Barrio', cursive;
  font-size: 10rem;
  font-weight: bold;
}


.title2 {
  display: none;
  font-family: 'Barrio', cursive;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.subTitle {
  font-size: 8rem;
  font-family: 'Barrio', cursive;
  font-size: 2rem;
}


.what {
  border: solid 1px white;
  background: rgba(0, 0, 0,1.0);
  border-radius: 20px;
  width: 20rem;
  height: 5rem;
  font-size: 1.75rem;
  color: white;
  transition: all 200ms;
}

.what:hover {
  transform: scale(1.1);
  /*background: rgba(0, 0, 0,.8);*/
  color: white;
  border: solid 1px white;
}

.heroarrow {
  position: absolute;
  bottom: 0; left: 0; right: 0;
  margin-left: auto; margin-right: auto;
  margin-bottom: 2rem;
  height: 3rem;
  filter: invert(100%);
  transition: all 200ms;
}

.heroarrow:hover {
  animation-name: pulse;
  animation-duration: 600ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.hero2 {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url('https://image.ibb.co/gjguHx/3_preview.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: scale(5);
  transition: all 20s;
  border: solid 2rem black;
}

.cartoonWalker {
  display: none;
  position: absolute;
  left: -10rem;
  top: 0rem;
  transition: all 20s;
}

.divinevid {
  display: none;
  position: absolute;
  top: 0; left: 0;
  height: 100vh;
  width: 100%;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}


#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#myBtn:hover {
    background: #ddd;
    color: black;
}

/***************************
        landingPage
***************************/


.landingPage {
  position: absolute;
  top: 100vh;
  height:auto;
  width: 100%;
}

.section1 {
  position: absolute;
  top: -6rem;
  height: 110vh;
  background: linear-gradient(rgba(0, 0, 0,.7), rgba(0, 0, 0,.7)), url('http://www.kendall-heaton.com/wp-content/uploads/2014/12/580-california-6.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  width: 100%;
  /*transform: skewY(-5deg);*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  z-index: 2;
}


.midSection {
  z-index: 2;
  position: absolute;
  top: 70rem;
  height: 55rem;
  width: 100%;
  background: #ecf0f1;
  text-align: center;
  align-items: center;
}

.testimonials {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.testimonial {
  width: 30rem;
  height: 40rem;
  background: white;
  border-radius: 30px;
  transition: all 200ms;
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

.testimonial:hover {
  transform: translateY(-5px);
  box-shadow: 0 2px 2px rgba(0,0,0,0.3);
}

.section2 {
  z-index: 1;
  position: absolute;
  top: 120rem;
  height: 90rem;
  width: 100%;
  background: url('https://photos-6.dropbox.com/t/2/AABQ4q1JCk-PyVT1IRur_Mok5qUJ4lNq43mPJkUomaVQDg/12/5479067/jpeg/32x32/3/1522195200/0/2/handoffalt.jpg/EOP7jAQY8osBIAIoAg/WKlLW2lOGt6JWUlOl0lVeEoJ6hZ_m5Wcqb5mTUaHcTU%2CJLRnUSIRG7IFJnIOAZzPbKKLY9yT7G1q3O9VJu3JokY?dl=0&size=2048x1536&size_mode=3');
  /*background-attachment: fixed;*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.midSection2 {
  position: absolute;
  top: 190rem;
  height: 90rem;
  width: 100%;
  background: green;
  perspective: 2000px;
  -webkit-perspective: 2000px;
}
